<div class="form-container" fxFill fxLayoutAlign="center center">
    <mat-card fxFlex="25" >

        <mat-toolbar color="primary">
            <label>Password reset</label>
        </mat-toolbar>

        <form class="form" fxLayout="column" fxLayoutAlign="stratch" fxLayoutGap="2rem" [formGroup]="form" 
        (ngSubmit)="onSubmit(form.value)">

            <mat-form-field>
                <input matInput type="email" placeholder="E-mail" formControlName="email" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput [type]="hideNewPassword ? 'password' : 'text'" placeholder="New password" formControlName="newPassword" required>
                <mat-icon class="input-hide" *ngIf="form.controls.newPassword.value" matSuffix (click)="hideNewPassword = !hideNewPassword">{{!hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <input matInput [type]="hideConfirmNewPassword ? 'password' : 'text'" placeholder="Confirm new password" formControlName="confirmNewPassword" required>
                <mat-icon class="input-hide" *ngIf="form.controls.confirmNewPassword.value" matSuffix (click)="hideConfirmNewPassword = !hideConfirmNewPassword">{{!hideConfirmNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <button class="submit-button" mat-raised-button type="submit" [ngClass]="{disabled:form.invalid}">Update password</button>

        </form>

    </mat-card>
</div>