.login-container mat-card{
    
    padding: 0;
    overflow: hidden;
    box-shadow: #00000050 0 1rem 1rem 0rem;

    .login-form{
        padding: 2rem;

        .submit-button{
            background-color: #3F51B5 ;
            color: #ffffff;
            margin: 1rem 5rem 1rem 5rem;
            padding: 0.5rem 0;
        }

    }

}