<div class="login-container" fxFill fxLayoutAlign="center center">
    <mat-card fxFlex="25" >

        <mat-toolbar color="primary">
            <label>{{title}}</label>
        </mat-toolbar>

        <form class="login-form" fxLayout="column" fxLayoutAlign="stratch" fxLayoutGap="2rem" [formGroup]="form" 
        (ngSubmit)="onSubmit(form.value)">

            <mat-form-field>
                <input matInput placeholder="Username" formControlName="username" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password" required>
            </mat-form-field>

            <button class="submit-button" mat-raised-button type="submit" [ngClass]="{disabled:form.invalid}">{{action}}</button>

        </form>

    </mat-card>
</div>