html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #eeeeee;
    background-image: url("https://i.pinimg.com/originals/87/9f/ba/879fba21d66993bf0efb278e6767b658.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
